:root {
    --black: #222222;
    --light-pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --sales-bkg-color: #4f4241;
    --sales-text-color: #ffffff;
    --catalog-list-bkg: #F8F8F8;
    --service-item-text-color: #FBFBFB;
    --form-bgk: #E1E1E1;
}



body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: var(--black);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

.header {
    background-color: var(--black);
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin: 0 0 0 34px;
}

.header__nav {
    display: none;
}

.header__button {
    border: none;
    background-color: transparent;
}

.brand {
    display: flex;
    margin: 0 0 62px 0;
}

.brand__title-wrp {
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
    background-color: var(--light-pink);
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: var(--dark-pink);
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    padding: 20px;
    box-sizing: border-box;
    width: 360px;
    min-height: 260px;
    background-color: var(--sales-bkg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sales__item-margin {
    margin: 0 0 30px 0;
}

.sales__item-text {
    color: var(--sales-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
}

.sales__item-title {
    color: var(--dark-pink);
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    text-transform: uppercase;
}

.sales__item--woman {
    background-image: url(../img/sales-woman-bkg.jpg);
}

.sales__item--man {
    background-image: url(../img/sales-man-bkg.jpg);
}

.sales__item--kids {
    background-image: url(../img/sales-kids-bkg.jpg);
}

.sales__item--shoes {
    background-image: url(../img/sales-shoes-bkg.jpg);
}

.sales__item--shoes {
    width: 100%;
}

.catalog {
    margin: 97px 0 95px 0;
}

.catalog__wrp {
    display: flex;
    flex-direction: column;
}

.catalog__header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.catalog__title {
    font-size: 30px;
    line-height: 36px;
    margin: 0 0 6px 0;
}

.catalog__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0 0 48px;
}

.catalog__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.catalog__item {
    width: 360px;
    min-height: 581px;
    background-color: var(--catalog-list-bkg);
    box-sizing: border-box;
}

.catalog__item-margin {
    margin-bottom: 30px;
}

.catalog__item-title {
    text-transform: uppercase;
    padding: 25px 0 0 18px;
    font-size: 13px;
    line-height: 16px;
}

.catalog__item-text {
    padding: 12px 0 18px 18px;
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
}

.catalog__text-price {
    padding: 0 0 20px 18px;
    color: var(--dark-pink);
}

.catalog__button {
    align-self: center;
    display: inline-block;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--dark-pink);
    border-color: var(--dark-pink);
    padding: 15px 39px;
    margin: 64px 0 0 0;
}

.service {
    width: 100%;
    background-color: var(--black);
    min-height: 341px;
}

.service__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service__item {
    padding: 104px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service__item-img {
    width: 45px;
    height: 32px;
    margin: 0 0 28px 0;
}

.service__item-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: var(--service-item-text-color);
    margin: 0 0 16px 0;
    text-align: center;
}

.service__item-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: var(--service-item-text-color);
    text-align: center;
}

.footer__info {
    background-image: url(../img/footer-bkg.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__info-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__info-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 97px 0 126px 0;
}

.footer__info-text {
    width: 360px;
    min-height: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;



}

.footer__info-text-italic {
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}

.footer__info-img {
    margin: 0 0 30px 0;
    width: 96px;
    height: 96px;
}

.footer__copy {
    background-color: var(--black);
}

.footer__copy-wrp {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.footer__copy-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--sales-text-color);
}

.footer__copy-list {
    display: flex;
    flex-direction: row;
}

.footer__copy-item {
    margin: 0 8px 0 0;
    background-color: var(--sales-text-color);
    color: var(--black);
    box-sizing: border-box;
    padding: 8px 10px;
}

.footer__info-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0 156px 0;
}

.footer__form-title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}

.footer__form-text {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 40px;
    margin-bottom: 32px;
}

.form__field {
    display: flex;
    flex-direction: row;
}

.footer__form-email {
    border-radius: 25px 0 0 25px;
    box-sizing: border-box;
    background-color: var(--form-bgk);
    border-color: var(--form-bgk);
    width: 323px;
    min-height: 49px;
    padding: 7px 0 7px 22px;
}

.footer__form-button {
    border-radius: 0 25px 25px 0;
    box-sizing: border-box;
    background-color: var(--dark-pink);
    border-color: var(--dark-pink);
    padding: 7px 8px;
    color: var(--sales-text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
}