.registration {
    display: flex;
    min-height: 675px;
    justify-content: space-between;

    .registration__form {
        display: flex;
        flex-direction: column;
        margin-top: 64px;
        max-width: 360px;
    }

    .registration__form-label {
        margin-bottom: 20px;
    }

    .registration__form-label-margin {
        margin-top: 33px;
    }

    .registration__form-input {
        margin-bottom: 20px;

        padding: 13px 0 13px 16px;
    }

    .registration__form-input-margin {
        margin-bottom: 16px;
    }

    .registration__form-text {
        margin-bottom: 40px;
        color: $form-text-color;
        font-size: 13px;
        font-weight: 300;
        line-height: 16px;
        text-align: left;

    }

    .registration__form-button {
        text-transform: uppercase;
        padding: 16px 30px;
        box-sizing: border-box;
        align-self: flex-start;
        color: $catalog-list-bkg;
        background-color: $dark-pink;
        border: none;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
    }

    .registration__form-button-img {
        margin-left: 20px;
    }
}

[for="input"] {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    text-align: left;
}

[for="sexChoise1"] {
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    text-align: left;
}

[for="sexChoise2"] {
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
    text-align: left;
}

[type="text"] {
    display: block;
    outline: 1px solid;
    background: transparent;
    box-sizing: border-box;
    border: none;
    font-size: 13px;
    font-weight: 300;
    line-height: 16px;
    text-align: left;
    color: $form-text-color;
    cursor: pointer;
}

::placeholder {
    color: $form-text-color;
}