.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @include mobile {
        flex-direction: column;
        justify-content: center;
    }

    .sales__item {
        padding: 20px;
        box-sizing: border-box;
        width: 360px;
        min-height: 260px;
        background-color: $sales-bkg-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


    }

    .sales__item-margin {
        margin: 0 0 30px 0;
    }

    .sales__item-text {
        color: $sales-text-color;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        text-transform: uppercase;
    }

    .sales__item-title {
        color: $dark-pink;
        font-size: 24px;
        font-weight: 900;
        line-height: 29px;
        text-transform: uppercase;
    }

    .sales__item--woman {
        background-image: url(../img/sales-woman-bkg.jpg);
        background-position: center;
        background-size: cover;
    }

    .sales__item--man {
        background-image: url(../img/sales-man-bkg.jpg);
    }

    .sales__item--kids {
        background-image: url(../img/sales-kids-bkg.jpg);
    }

    .sales__item--shoes {
        background-image: url(../img/sales-shoes-bkg.jpg);
        background-repeat: no-repeat;
        min-height: 180px;

        @include mobile {
            height: 111px;
        }
    }

    .sales__item--shoes {
        width: 100%;
    }

    @media (max-width: $desktop-width) {
        .sales__item {
            width: 232.09px;
            min-height: 167.62px;
            background-size: cover;
        }

        .sales__item--shoes {
            width: 100%;
        }

        .sales__item-text {
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0em;
        }

        // .sales__item-title {
        //     font-size: 16px;
        // }
    }

    @media (max-width: $tablet-width) {
        .sales__item {
            width: 343px;
            height: 247px;
            flex-grow: 1;
        }

        .sales__item--shoes {
            height: 11px;
        }
    }
}